# executable and header files
story_reader
header
add_header
gmon.out

# C++ and Dev-C++
*.o
*.layout

# Temp files
*~
\#*\#
*.backup

# Source files
src/*
!src/*.cpp
!src/*.hpp
!src/*.h

# PHP files
php/*
!php/*.php
!php/function

php/function/*
!php/function/*.php

# XML files
xml/*
!xml/*.xml

#Binary files
bin/*


