booklet {
	closed: true;
	autoCenter: true;
	covers: true;
	pagePadding: 30;
	width: 800;
	height: 600;
	tabs: true;
	nextControlText: "Suivant";
	previousControlText: "Précédent";
	nextControlTitle: "Page suivante";
	previousControlTitle: "Page précédente";
	shadows: true;
	speed: 1500;
}
