#div_selector
{
	display: inline-block;
	vertical-align: top;
    width: 200px;
    border: 1px solid black;
	padding: 10px;
}

#div_editor
{
	display: inline-block;
	vertical-align: top;
    border: 1px solid black;
	padding: 10px;
}

#div_tabs
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.tab
{
    border: 3px;
	border-style: solid;
	border-color: black;
	margin: 2px;
}

.tab.modified
{
	border-color: red;
}

.tab_group
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab_up
{
	height: 80px;
}

.tab_middle
{
	height: 40px;
}

.tab_down
{
	height: 80px;
}

.form_object
{
	border-style: none;
}

.form_object.modified
{
    border: 3px;
	border-style: solid;
	border-color: red;	
}