#div_graph {
  width: 500px;
  height: 500px;
  display: block;
}

.egograph {
  width: 300px;
  height: 300px;
  display: block;
}

#main_section {
	display: flex;
}

#div_selector
{
	display: inline-block;
	vertical-align: top;
    width: 500px;
    /* border: 1px solid black; */
	padding: 10px;
}

#div_editor
{
	display: inline-block;
	vertical-align: top;
    width: 500px;
    /* border: 1px solid black; */
	padding: 10px;
}

#div_reader
{
	display: inline-block;
	vertical-align: top;
    /* border: 1px solid black; */
	padding: 10px;
}

#div_form
{
	width: 500px;
	height: 500px;
}

#div_story
{
	overflow-y: scroll;
	height: 95vh;
}

#table_story
{
	width: 100%;
	table-layout: fixed;
}

.story_col1
{
	vertical-align: top;
	width: 33%;
	overflow: hidden;
}

.story_col2
{
	text-align: justify;
	padding: 10px;
}

.form_object
{
	border-style: none;
}

.form_object.modified
{
    border: 3px;
	border-style: solid;
	border-color: red;	
}

.form_error
{
	color: red;
	font-weight: bold;
}


.link_element
{
	color: blue;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
}

.link_element.overed
{
	background-color: #ccc;
}

.link_element.selected
{
	background-color: #aaa;
}